JavaWebserver-06/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="names">
    <xs:restriction base="xs:string">
      <xs:pattern value="[ a-zA-Z0-9-]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="prices">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="description" type="names"/>

        <xs:element name="price" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="names" />
              <xs:element name="start">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-2][0-9]:[0-5][0-9]"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="end">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-2][0-9]:[0-5][0-9]"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="cost">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0"/>
                    <xs:fractionDigits value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>